.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  overflow: hidden;

  .title {
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 105px;
    align-items: center;
    color: white;
    text-align: center;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 442px) {

  .collection-preview{
    .title {
      font-size: 15px;
    }
  }
  
}
