.collection-page {
  display: flex;
  flex-direction: column;
  border: #fff dotted 1px;
overflow: hidden;
  .title {
    font-size: 38px;
    margin: 120px auto 30px;
    color: #fff;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width:443){
  .collection-page{
    margin: 50px auto 30px;
  }
}

