.collection-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 450px;
  align-items: center;
  border: #fff solid 3px;
  position: relative;
  margin: 0 1rem 4rem;
box-shadow: 0px 0px 5px rgb(255, 255, 255);

  

  

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 350px;
    display: none;
  }
  

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display:flex;
    
    }
  }

  .collection-footer {
    width: 100%;
    height: 11%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    font-size: 18px;
    background-color: #a6a6a4;

    .name {
      width: 90%;
      margin: 5px;
      color: red;
      font-weight: 600;
      font-size: 16px;
    }

    .price {
      width: 20%;
      color: red;
      font-weight: 600;
      font-size: 17px;
      margin: 5px;
    }
  }
}
@media screen and (max-width:554px) {
  .collection-item{
    width: 31vw;
    height: 200px;
    margin: 0 0.2rem 0rem;

  
    .collection-footer {
     height: 20%;
    }

    
  }
  
}