.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff;
  margin-top: 15rem;
  padding-left: 1rem;
  


  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }

  * {
    z-index: 5;
    color: #fff;
  }
}

@media screen and (max-width: 587px) {
  .sign-in {
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 8rem;
  }
  &.buttons{
    flex-direction: column;
    margin-bottom: 3rem;
    
  }
}