.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff;
  margin-top: 10rem;


  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  * {
    z-index: 10;
    color: #fff;
  }
}
