.cart-icon {
  width: 60px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;

  justify-content: center;
  cursor: pointer;


  .shopping-icon {
    width: 50px;
    height: 34px;


  }

  .item-count {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    bottom: 12px;
    color: #fff;
  }

}
