.menu-item {
  min-width: 20%;
  position:relative;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 1.7rem 1.7rem 15px;
  overflow: hidden;
  border: #000 solid 4px;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
      margin: 1.2rem;
    }
  }


  &:first-child {
    margin-right: 1.5rem;
  }

  &:last-child {
    margin-left: 1.5rem;
    margin-bottom: 3rem;
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    overflow: hidden;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      color:black
    }
  }
}

@media (max-width: 442px){
  .menu-item{
    min-width: 50%;
    .content {
      height: 40%;
      overflow: hidden;
      width: 80%;
    }
  }
  
}