body {
  font-family: 'Open Sans Condensed';
  background-color: black;
  height: 100%;
  z-index: -10;
  margin: 0;

}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

#root {
  background: url("https://eskipaper.com/images/dark-background-8.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}