.sign-in-and-sign-up {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
 flex-direction: row;
  background: url("https://www.wsupercars.com/wallpapers/Bugatti/2014-Bugatti-Veyron-Black-Bess-002-1080.jpg")no-repeat center center/cover;


}

@media screen and (max-width: 576px) {
.sign-in-and-sign-up{
  flex-direction: column;
  
}
}

.sign-in-and-sign-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(2, 0, 0, 0.5);
}
